body {
  background-color: #f2f6ff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
   padding:0px;
  margin: 0px;
}

header {
  background-image: url('path/to/hero-image.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
  background-color: #102a43;
}

nav {
  background-color: #1c345a;
  color: #fff;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
}

nav a:hover {
  background-color: #fff;
  color: #1c345a;
  border-radius: 5px;
}

.dropbtn {
  background-color: #1c345a;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #1c345a;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.show {display:block;}

#introduction1 {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

#Hobby {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

#Games {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

#Manga {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

#Programeer {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

#Socials {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
  a {
    color: blue; /* Kleur van de link */
    text-decoration: underline; /* Onderstreping van de link */
  }
}

footer {
  background-color: #1c345a;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  #naruto img {
    width: 100%;
    height: auto;
  }
  header {
    background-position: top;
  }
}