Body {
    margin:8px;
    background-color:rgb(7, 94, 208);;
    color:Darkblue;
    font-family:"verdana";
    font-size:18px;
    justify-content: center; 
}

H1 {
    font-size:3em;
    text-align: center;   
}

H2 {
    text-align: center;
    font: size 3em;
}

Div {
    background-color:c;
    padding:30px;
    margin-bottom:30px;
    margin-left:20vw;
    width:50vw;
    color:darkblue;
    justify-content: center;
}

Nav {
    font-size:20px;
    text-align: center;
    flex: 1;
    justify-content:space-between;
    background-color:white;
    padding: 100px;
    margin: 100px;
    display:flex;
    justify-content:space-between;
    flex: 1;
    border: 10px solid white;
    border-radius: 100px;
    box-shadow: 10px 10px;
    position: sticky;
    top:0px;
    flex-direction: row;
}

 @media (max-width: 500px) {
    nav {
      flex-direction:column;
      width: auto;
      height: auto;
      font-size: 1.5em;;
      margin:0px;
    }
}

Nav a {
    padding: 10;
    flex: 1;
    text-align: center;
    background-color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: all 0.4s ease-out;
    justify-content: space-between;
    border-style: none;
    width: 24%;
    max-height: 4vw;
    color: black;
}

Nav a:hover {
    background-color: darkblue;
    width: 24%;
    max-height: 4vw;
}

Main {   
    margin: 10vw;
    border: 10px solid ;
}




p {
    font-family: Verdana;
}

section#schildpad {
    display: flex;
    flex-direction: column;
    animation: movedown 3s ease-out;
}
  
section#schildpad div {
    flex: 1;
    animation: movedown 3s ease-out;
}
  
section#schildpad div img {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
}
@keyframes movedown {
    from {
      opacity:0;
      transform: scale(1.2) translateY(-100px);
    }
  
    to {
      opacity:1;
      transform: scale(1) translateY(0);
    }
  }
video{
    margin-left: 29%;
}