body {
  background-color: #f2f6ff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('./img/hero-image.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
  background-color: #102a43;
}

nav {
  background-color: #1c345a;
  color: #fff;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
}

nav a:hover {
  background-color: #fff;
  color: #1c345a;
  border-radius: 5px;
}

.dropbtn {
  background-color: #1c345a;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #1c345a;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}


.show {display:block;}

#schildpad {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

.reservering {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

.webservice{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
}

.game{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
  
}

.laravel{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}
.laravel img{
  width: 50%;
  height: auto;


}

.labelvision{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

.labelvision img{
  width: 50%;
  height: auto;
}

.fullstack{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

.fullstack img {
  width: 50%;
  height: auto; 
}

.machinelearning{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

.machinelearning img{
  width: 50%;
  height: auto;

}

.qualityeducation{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

.Excel{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;

}

.Plannen_en_studievaardigheden{
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #888;
}

footer {
  background-color: #1c345a;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
 
  header {
    background-position: top;
  }
}
